#shipment_cover{
    /* The image used */
    background-image: url("../bg_imgs/shipment_cover.jpg");
}

#login_cover{
    /* The image used */
    background-image: url("../bg_imgs/login_cover.jpg");
}

#register_cover{
    /* The image used */
    background-image: url("../bg_imgs/register_cover.jpg");
}

.sprite1 {
    background-image: url("../icons/icons_sprite1.png");
}

.sprite2 {
    background-image: url("../icons/icons_sprite2.png");
}

.sprite-icons {
    background-repeat: no-repeat;
    display: inline-block;
    width: 27px;
    height: 40px;
    margin-bottom: -15px;
}

#base-fabric-icon {
    background-position: -414px 0;
}

#base-fabric-icon:hover {
    background-position: -440px 0;
}

#outer-collar-icon {
    background-position: -578px 5px;
}

#outer-collar-icon:hover {
    background-position: -605px 5px;
}

#inner-collar-icon {
    background-position: -468px 5px;
}

#inner-collar-icon:hover {
    background-position: -495px 5px;
}

#outer-cuff-icon {
    background-position: -632px 5px;
}

#outer-cuff-icon:hover {
    background-position: -660px 5px;
}

#inner-cuff-icon {
    background-position: -522px 5px;
}

#inner-cuff-icon:hover {
    background-position: -550px 5px;
}

#inner-placket-icon {
    background-position: -687px 2px;
    width: 8px;
}

#inner-placket-icon:hover {
    background-position: -695px 2px;
}

#collar-style-icon {
    background-position: -935px 5px;
}

#collar-style-icon:hover {
    background-position: -908px 5px;
}

#cuff-style-icon {
    background-position: -990px 5px;
}

#cuff-style-icon:hover {
    background-position: -962px 5px;
}

#pocket-icon {
    background-position: -724px 8px;
    width: 22px;
}

#pocket-icon:hover {
    background-position: -702px 8px;
}

#shirt-back-icon {
    background-position: -851px 5px;
    width: 21px;
}

#shirt-back-icon:hover {
    background-position: -830px 5px;
}

#button-icon {
    background-position: -890px 10px;
    width: 18px;
}

#button-icon:hover {
    background-position: -872px 10px;
}

#monogram-icon {
    background-position: -1047px 10px;
}

#monogram-icon:hover {
    background-position: -1019px 10px;
}

.collar-fabric-sprite1 {
    height: 76px;
    width: 120px; 
    margin: 5px;
    background-image: url("../icons/collar_fabric_sprite1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.collar-fabric-sprite2 {
    height: 76px;
    width: 120px; 
    margin: 5px;
    background-image: url("../icons/collar_fabric_sprite2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.collar-fabric-sprite3 {
    height: 76px;
    width: 120px; 
    margin: 5px;
    background-image: url("../icons/collar_fabric_sprite3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.cuff-fabric-sprite1 {
    height: 76px;
    width: 120px; 
    margin: 5px;
    background-image: url("../icons/cuff_fabric_sprite1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.base-fabric-sprite1 {
    height: 76px;
    width: 120px; 
    margin: 5px;
    background-image: url("../icons/base_fabric_sprite.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.base-fabric-sprite2 {
    height: 76px;
    width: 120px; 
    margin: 5px;
    background-image: url("../icons/base_fabric_sprite2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.base-fabric-sprite3 {
    height: 76px;
    width: 120px; 
    margin: 5px;
    background-image: url("../icons/base_fabric_sprite3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

#Bp1 {
    background-position: 0px -8360px;
}

#Bp2 {
    background-position: 0px -6156px;
}

#Bp3 {
    background-position: 0px -5776px;
}

#Bp4 {
    background-position: 0px -8892px;
}

#Bp5 {
    background-position: 0px -4560px;
}

#Bp6 {
    background-position: 0px -8816px;
}

#Bp7 {
    background-position: 0px -4028px;
}

#Bp8 {
    background-position: 0px -2508px;
}

#Bp9 {
    background-position: 0px -5548px;
}

#OCp1 { 
    background-position: 0px -152px;
}

#OCp2 { 
    background-position: 0px -7448px;
}

#OCp3 { 
    background-position: 0px -379px;
}

#OCp4 { 
    background-position: 0px -7752px;
}

#OCp5 { 
    background-position: 0px -608px;
}

#OCp6 { 
    background-position: 0px -77px;
}

#OCp7 { 
    background-position: 0px -1672px;
}

#OCp8 { 
    background-position: 0px -684px;
}

#OCp9 { 
    background-position: 0px -456px;
}

#OCp10 { 
    background-position: 0px -7828px;
}

#OCp11 { 
    background-position: 0px -7524px;
}

#OCp12 { 
    background-position: 0px -7600px;
}

#OCp13 { 
    background-position: 0px -7296px;
}

#OCp14 { 
    background-position: 0px -6840px;
}

#OCp15 { 
    background-position: 0px -7372px;
}

#OCp16 { 
    background-position: 0px -7220px;
}

#ICp1 { 
    background-position: 0px -7752px;
}

#ICp2 { 
    background-position: 0px -228px;
}

#ICp3 { 
    background-position: 0px -379px;
}

#ICp4 { 
    background-position: 0px -456px;
}

#ICp5 { 
    background-position: 0px -532px;
}

#ICp6 { 
    background-position: 0px -1445px;
}

#ICp7 { 
    background-position: 0px -1672px;
}

#ICp8 { 
    background-position: 0px -77px;
}

#ICp9 { 
    background-position: 0px -152px;
}

#ICp10 { 
    background-position: 0px -228px;
}

#ICp11 { 
    background-position: 0px -608px;
}

#ICp12 { 
    background-position: 0px -1520px;
}

#ICp13 { 
    background-position: 0px -684px;
}

#ICp14 { 
    background-position: 0px -6612px;
}

#ICp15 { 
    background-position: 0px -7676px;
}

#ICp16 { 
    background-position: 0px -7600px;
}

#ICp17 { 
    background-position: 0px -7524px;
}

#ICp18 { 
    background-position: 0px -6688px;
}

#ICp19 { 
    background-position: 0px -7296px;
}

#ICp20 { 
    background-position: 0px -7220px;
}

#ICp21 { 
    background-position: 0px -7144px;
}

#ICp22 { 
    background-position: 0px -6840px;
}

#OCup1 { 
    background-position: 0px -608px;
}

#OCup2 { 
    background-position: 0px -228px;
}

#OCup3 { 
    background-position: 0px -379px;
}

#OCup4 { 
    background-position: 0px -1672px;
}

#OCup5 { 
    background-position: 0px -77px;
}

#OCup6 { 
    background-position: 0px -532px;
}

#OCup7 { 
    background-position: 0px -152px;
}

#OCup8 { 
    background-position: 0px -228px;
}

#OCup9 { 
    background-position: 0px -456px;
}

#OCup10 { 
    background-position: 0px -608px;
}

#OCup11 { 
    background-position: 0px -684px;
}

#OCup12 { 
    background-position: 0px -6688px;
}

#OCup13 { 
    background-position: 0px -7828px;
}

#OCup14 { 
    background-position: 0px -7600px;
}

#OCup15 { 
    background-position: 0px -7372px;
}

#OCup16 { 
    background-position: 0px -7296px;
}

#OCup17 { 
    background-position: 0px -7220px;
}

#OCup18 { 
    background-position: 0px -7144px;
}

#ICup1 { 
    background-position: 0px -608px;
}

#ICup2 { 
    background-position: 0px -152px;
}

#ICup3 { 
    background-position: 0px -76px;
}

#ICup4 { 
    background-position: 0px -456px;
}

#ICup5 { 
    background-position: 0px -608px;
}

#ICup6 { 
    background-position: 0px -77px;
}

#ICup7 { 
    background-position: 0px -228px;
}

#ICup8 { 
    background-position: 0px -1672px;
}

#ICup9 { 
    background-position: 0px -684px;
}

#ICup10 { 
    background-position: 0px -532px;
}

#ICup11 { 
    background-position: 0px -7828px;
}

#ICup12 { 
    background-position: 0px -7600px;
}

#ICup13 { 
    background-position: 0px -6536px;
}

#ICup14 { 
    background-position: 0px -7372px;
}

#ICup15 { 
    background-position: 0px -7524px;
}

#ICup16 { 
    background-position: 0px -6612px;
}

#ICup17 { 
    background-position: 0px -6840px;
}

#ICup18 { 
    background-position: 0px -6992px;
}

#ICup19 { 
    background-position: 0px -6840px;
}

#IPp1 { 
    background-position: 0px -7752px;
}

#IPp2 { 
    background-position: 0px -7448px;
}

#IPp3 { 
    background-position: 0px -379px;
}

#IPp4 { 
    background-position: 0px -456px;
}

#IPp5 { 
    background-position: 0px -532px;
}

#IPp6 { 
    background-position: 0px -1445px;
}

#IPp7 { 
    background-position: 0px -1672px;
}

#IPp8 { 
    background-position: 0px -77px;
}

#IPp9 { 
    background-position: 0px -152px;
}

#IPp10 { 
    background-position: 0px -1368px;
}

#IPp11 { 
    background-position: 0px -228px;
}

#IPp12 { 
    background-position: 0px -1520px;
}

#IPp13 { 
    background-position: 0px -608px;
}

#IPp14 { 
    background-position: 0px -684px;
}

#IPp15 { 
    background-position: 0px -6612px;
}

#IPp16 { 
    background-position: 0px -7676px;
}

#IPp17 { 
    background-position: 0px -7600px;
}

#IPp18 { 
    background-position: 0px -7524px;
}

#IPp19 { 
    background-position: 0px -6688px;
}

#IPp20 { 
    background-position: 0px -7296px;
}

#IPp21 { 
    background-position: 0px -7220px;
}

#IPp22 { 
    background-position: 0px -7144px;
}

#IPp23 { 
    background-position: 0px -6840px;
}

#b1 {
    background-position: -3700px 0px;
}

#b2 {
    background-position: -3200px -0px;
}

#b3 {
    background-position: -3500px -0px;
}

#b4 {
    background-position: -2900px -0px;
}

#b5 {
    background-position: -2800px -0px;
}

#b6 {
    background-position: -3800px -0px;
}

#b7 {
    background-position: -3300px -0px;
}

#b8 {
    background-position: -3100px -0px;
}

#b9 {
    background-position: -3000px -0px;
}

#b10 {
    background-position: -100px -0px;
}

#b11 {
    background-position: -300px -0px;
}

#b12 {
    background-position: -400px -0px;
}

#b13 {
    background-position: -1500px -0px;
}

#b14 {
    background-position: -1800px -0px;
}

#b15 {
    background-position: -1900px 0px;
}

#b16 {
    background-position: -2600px -0px;
}

#RR.cuffs {
    background-position: -400px 0px;
}

#BA {
    background-position: 0px 0px;
}

#SQ {
    background-position: -500px 0px;
}

#BR {
    background-position: -200px 0px;
}

#AA {
    background-position: -100px 0px;
}

#FR {
    background-position: -300px 0px;
}

.cuffs {
    background-image: url("../icons/cuffs.jpg");
    background-repeat: no-repeat;
    display: inline-block;
}

.buttons {
    background-image: url("../icons/buttons.jpg");
    background-repeat: no-repeat;
    display: inline-block;
}

.collar-designs {
    background-image: url("../icons/collar_designs.jpg");
    background-repeat: no-repeat;
    display: inline-block;
}

.shirt_back {
    background-image: url("../icons/shirt_back.jpg");
    background-repeat: no-repeat;
    display: inline-block;
}

#NNN {
    background-position: -199px 0;
}

#BPP {
    background-position: 0px 0;
}

#SPP {
    background-position: -99px 0;
}

#RR.collar-designs {
    background-position: -600px 0;
}

#SP {
    background-position: -900px 0;
}

#CA {
    background-position: -200px 0;
}

#BR {
    background-position: -100px 0;
}

#PH {
    background-position: -500px 0;
}

#SW {
    background-position: -400px 0;
}

#WS {
    background-position: -1100px 0;
}

#SS {
    background-position: -1000px 0;
}

#DB {
    background-position: -300px 0;
}

#RB {
    background-position: 0px 0;
}

.bg_cover {
    /* Full height */
    height: 100%; 

    /* form padding */
    padding: 25px 0px 0px 25px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pypl-logo {
    width:90px;
}

ul.fli {
    margin: auto;
    padding: 0px;
}

.img-container {
    position: absolute;
    /* display: inline-block; */
    /* width: 450px; */
    /* height: auto; */
    /* z-index: 0; */
    /* margin-left: -150px; */
}

.btn_container {
    height: 70px;
    padding-top: 13px;
    /* width: 500px;*/
    /* height: 90vh; */
    background-color: gray;
    /* display: inline-block; */
    /* margin-right: 170px; */
    /* float: left; */
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
}

li.fli {
    height: 67px;
    text-align: center;
    line-height: 67px;
    cursor: default;
}

div {
    cursor: default;
}

.max-size {
    max-width: 580px;
}
/* li:hover {
    color: white;
    background-color: cornflowerblue;
} */