{% extends 'base.html' %}

{% block title %}
    LogIn
{% endblock title %}

{% block content %}
    <div style="margin: 75px 0px 0px 0px;background: rgb(87,77,255);
background: linear-gradient(276deg, rgba(87,77,255,0.8830882694874825) 24%, rgba(7,96,255,0.5385504543614321) 77%);" class="bg_cover">
        <form class="text-center col-md-5" method="POST" enctype="multipart/form-data">
            <p class="h4 mb-4">Login</p>
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <button class="btn-block btn btn-primary my-4" type="submit">Login</button>
        </form>
    </div>
{% endblock content %}