{% extends 'base.html' %}

{% block title %}
    Design
{% endblock title %}


{% block content %}
    <div style="margin: 85px 0px 8px 0px" class="row">
        <div class="col-lg-1"></div>
        <div class="row col-lg-10" style="background-color: #F9FAFB;">
            <div class="col-12 d-inline text-center" style="line-height: 50px"><p class="d-inline"><b>FABRIC</b> &nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp; <b>STYLE</b> &nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp; <b>ADD TO CART</b></p></div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row" style="margin-right: 0px">
        <div class="col-lg-1"></div>
        <div class="row col-lg-10">
            <div style="max-height:563px;" class="col-5">
                <div id="listContainer" class="col" style="overflow-y: auto;">
                    <div id="content">
                        <div>
                            <h2>Customize Your Shirt's Fabric</h2>
                            <ul class="fli">
                                <li style="background-color: #F9FAFB;" class="fli" OnClick=ShowBaseFabrics()><div id="base-fabric-icon" class="sprite-icons sprite1"></div> BASE FABRIC</li>
                                <li class="fli" OnClick=ShowOuterCollar()><div id="outer-collar-icon" class="sprite-icons sprite1"></div> OUTER COLLAR</li>
                                <li style="background-color: #F9FAFB;" class="fli" OnClick=ShowInnerCollar()><div id="inner-collar-icon" class="sprite-icons sprite1"></div> INNER COLLAR</li>
                                <li class="fli" OnClick=ShowOuterCuff()><div id="outer-cuff-icon" class="sprite-icons sprite1"></div> OUTER CUFFS</li>
                                <li style="background-color: #F9FAFB;" class="fli" OnClick=ShowInnerCuff()><div id="inner-cuff-icon" class="sprite-icons sprite1"></div> INNER CUFFS</li>
                                <li class="fli" OnClick=ShowInnerPlacket()><div id="inner-placket-icon" class="sprite-icons sprite1"></div> INNER PLACKET</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col btn_container">
                    <div id="btns_div">
                        <button class="float-right btn btn-primary" OnClick=getSecondMenuContent()>Continue Styling</button>
                    </div>
                </div>
            </div>
            <div class="col-7" style="background-color: #F9FAFB; height: 563px;">
                <div class="box container-div col">
                    <div class="content" style="margin:auto">
                        <img id="background" class="img-div max-size" src="{{ background.background.url }}">
                        <img id="left-shoulder" class="img-div max-size" src="{{ base.l_shoulder.url }}">
                        <img id="right-shoulder" class="img-div max-size" src="{{ base.r_shoulder.url }}">
                        <img id="left-front" class="img-div max-size" src="{{ base.l_front.url }}">
                        <img id="right-front" class="img-div max-size" src="{{ base.r_front.url }}">
                        <img id="left-collar-base" class="img-div max-size" src="{{ collar_base.l_base.url }}">
                        <img id="right-collar-base" class="img-div max-size" src="{{ collar_base.r_base.url }}">
                        <img id="yoke-top" class="img-div max-size" src="{{ yoke.top.url }}">
                        <img id="yoke-bottom" class="img-div max-size" src="{{ yoke.bottom.url }}">
                        <img id="inner-placket" class="img-div max-size" src="{{ inner_placket.inner.url }}">
                        <img id="outer-placket" class="img-div max-size" src="{{ outer_placket.outer.url }}">
                        <img id="inner-collar" class="img-div max-size" src="{{ inner_collar.inner.url }}">
                        <img id="upper-collar" class="img-div max-size" src="{{ outer_collar.upper.url }}">
                        <img id="outer-right-collar" class="img-div max-size" src="{{ outer_collar.outer_r.url }}">
                        <img id="outer-left-collar" class="img-div max-size" src="{{ outer_collar.outer_l.url }}">
                        <img id="inner-cuff" class="img-div max-size" src="{{ inner_cuff.inner.url }}">
                        <img id="outer-top-cuff" class="img-div max-size" src="{{ outer_cuff.top.url }}">
                        <img id="outer-bottom-cuff" class="img-div max-size" src="{{ outer_cuff.bottom.url }}">
                        <img id="pocket" class="img-div max-size" src="{{ pocket.pocket.url }}">
                        <img id="collar-button-holes" class="img-div max-size" src="{{ buttons.button_holes.button.url }}">
                        <img id="base-button" class="img-div max-size" src="{{ buttons.base_button.button.url }}">
                        <img id="cuff-button" class="img-div max-size" src="{{ buttons.cuff_button.button.url }}">
                        <img id="collar-button" class="img-div max-size" src="{{ buttons.collar_button.button.url }}">
                        <form id="shirtSpecsForm" style="visibility:hidden" action="{% url 'carts:add_item' %}" method="POST">
                            {% csrf_token %}
                            <input id="basePattern" name="basePattern" type="hidden">
                            <input id="outerCollarPattern" name="outerCollarPattern" type="hidden">
                            <input id="innerCollarPattern" name="innerCollarPattern" type="hidden">
                            <input id="collarDesign" name="collarDesign" type="hidden">
                            <input id="outerCuffPattern" name="outerCuffPattern" type="hidden">
                            <input id="innerCuffPattern" name="innerCuffPattern" type="hidden">
                            <input id="cuffDesign" name="cuffDesign" type="hidden">
                            <input id="innerPlacketPattern" name="innerPlacketPattern" type="hidden">
                            <input id="outerPlacketPattern" name="outerPlacketPattern" type="hidden">
                            <input id="button" name="button" type="hidden">
                            <input id="pocketLeft" name="pocketLeft" type="hidden">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row" style="margin-right: 0px">
        <div class="col-lg-1"></div>
        <div class="row col-lg-10" style="padding:15px 0px 0px 0px;">
            <div class="col-4" style="padding:10px 8px 0px 8px; background-color: #F9FAFB;">
                <center><b>HANDMADE TO ORDER</b></center>
                <center><p>Each and every shirt is carefully crafted at our factory in Japan.</p></center>
            </div>
            <div class="col-4" style="padding:10px 8px 0px 8px; background-color: #F9FAFB; border-right: solid 1px gray; border-left:solid 1px gray;">
                <center><b>Realtime Customization</b></center>
                <center><p>Your inspiration can be customized in realtime.</p></center>
            </div>
            <div class="col-4" style="padding:10px 8px 0px 8px; background-color: #F9FAFB;">
                <center><b>ENDLESS POSSIBILITIES</b></center>
                <center><p>Hundreds of fabrics. All to make a shirt that is truly you.</p></center>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <script>
        var GetPatternUrl = "{% url 'shirts:get_base_pattern' %}"
        var GetOuterCollarPatternUrl = "{% url 'shirts:get_outer_collar_pattern' %}"
        var GetOuterCollarDesignUrl = "{% url 'shirts:get_outer_collar_design' %}"
        var GetInnerCollarUrl = "{% url 'shirts:get_inner_collar' %}"
        var GetInnerPlacketUrl = "{% url 'shirts:get_inner_placket' %}"
        var GetOuterPlacketUrl = "{% url 'shirts:get_outer_placket' %}"
        var GetOuterFoldedCuffUrl = "{% url 'shirts:get_outer_folded_cuff' %}"
        var GetOuterCuffPatternUrl = "{% url 'shirts:get_outer_cuff_pattern' %}"
        var GetOuterCuffDesignUrl = "{% url 'shirts:get_outer_cuff_design' %}"
        var GetInnerOpenedCuffUrl = "{% url 'shirts:get_inner_opened_cuff' %}"
        var GetInnerClosedCuffUrl = "{% url 'shirts:get_inner_closed_cuff' %}"
        var GetAddItemToCartUrl = "{% url 'carts:add_item' %}"
        var GetPocketUrl = "{% url 'shirts:get_pocket' %}"
        var GetButtonsUrl = "{% url 'shirts:get_buttons' %}"
    </script>
{% endblock content %}