<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title_block %}{% endblock title_block %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'javascript/SaveRetreiveReset.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/EventListeners.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/SecondMenu.js' %}"></script>
    <!-- Latest compiled and minified JS -->
    <script type="text/javascript" src="{% static 'javascript/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/popper.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascript/bootstrap.min.js'%}"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'shirts:design' %}">Design</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% block body_block %}
        {% block content %}
        {% endblock content %}
    {% endblock body_block %}
</body>
</html>